.header {
    display: flex;
    align-items: center;
    background: aliceblue;
    padding-left: 10px;
}

.logo-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    font-size: 18px;
    padding: 10px;
}

.date-section {
    display: grid;
    width: 250px;
    grid-template-columns: 30% 10% 10% auto;
    font-size: 18px;
    align-items: center;
}

.today {
    background: transparent;
    border: 1px solid blue;
    padding: 6px 0px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 7px;
    outline: none
}

/* //////////////////// */

.createbtn {
    background: beige;
    width: 110px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 10px;
}

.createbtn:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.select-section {
    position: absolute;
    right: 30px;
}

.select-section select {
    padding: 9px;
    font-size: 15px;
}