.upper {
    display: grid;
    grid-template-columns: 100px auto;
}


.date-day{
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(7, auto);

}
.date-day div {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cell {
    border: 1px solid red;
    padding: 10px;
}
.cell-container{
    background: antiquewhite;
    margin-left: 122px;
    display: grid;
    grid-template-columns: repeat(7, auto);
}